[project]
name = "gm4"
version = "1.0.0"
description = "Data packs for https://gm4.co"
authors = [
    {name = "Gamemode 4 Contributors"},
]
requires-python = ">= 3.10, < 4.0"
dependencies = [
<<<<<<< HEAD
    "beet >= 0.112.1",
=======
    "beet @ git+https://github.com/edayot/beet.git@update_1_21_9",
>>>>>>> 74df3a8ff (Revert "Merge branch 'update-1.21.9' of https://github.com/Gamemode4Dev/GM4_Datapacks into update-1.21.9")
    "mecha >= 0.99.0",
    "bolt >= 0.49.2",
    "PyYAML >= 6.0, < 7.0",
    "pydantic >= 2.6.1, < 3.0.0",
    "requests >= 2.28.1, < 3.0.0",
    "pillow >= 10.0.0, < 11.0.0",
    "repro-zipfile >= 0.1.0, < 1.0.0",
]

[tool.uv]
dev-dependencies = [
    "black >= 22.6.0, < 23.0.0",
    "isort >= 5.10.1, < 6.0.0",
    "uv >= 0.5.4",
]

[project.entry-points.beet]
commands = "gm4.commands"
autoload = "gm4.plugins.autoload"

[tool.beet]

[tool.pyright]
typeCheckingMode = "strict"

[tool.isort]
profile = "black"

[build-system]
requires = ["setuptools"]

[tool.setuptools]
packages = ["gm4"]
